@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1634796350788') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-celiang:before {
  content: "\e603";
}

.icon-tool_polygon:before {
  content: "\e658";
}

.icon-biaohui:before {
  content: "\e60a";
}

.icon-Pointer:before {
  content: "\e8a0";
}

.icon-polyline:before {
  content: "\e80c";
}

.icon-qita:before {
  content: "\e60b";
}

